<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnessapp">

    <application
        android:allowBackup="true"
        android:backupAgent=".TheBackupAgent"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".bmi_calculator"></activity>
        <activity android:name=".breakfast4" />
        <activity android:name=".lunch" />
        <activity android:name=".breakfast2" />
        <activity android:name=".low_carb2" />
        <activity android:name=".highprotein_chicken" />
        <activity android:name=".breakfast3" />
        <activity android:name=".dinner" />
        <activity android:name=".Breakfast" />
        <activity android:name=".low_carb" />
        <activity android:name=".first_recipe" />
        <activity android:name=".triceps_workout" />
        <activity android:name=".biceps_workout" />
        <activity android:name=".shoulder_workout" />
        <activity android:name=".back_workout" />
        <activity android:name=".abs_workout" />
        <activity android:name=".legs_workout" />
        <activity android:name=".chest_workout" />
        <activity android:name=".dashboard" />
        <activity android:name=".diet" />
        <activity android:name=".UserProfile" />

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIseAl29e-Yil2mCcV19z7vHPCu-002Bpb4KrGiQ" />

        <activity android:name=".home" />
        <activity android:name=".activity_workouts" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>